#sidebar-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li span {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li span:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li span:active,
.sidebar-nav li span:focus {
    text-decoration: none;
}

.sidebar-nav .glyphicon {
    margin: 45% auto;
    font-size: 3em;
}


/*START Right side bar*/

favorites .form-control {
    height: 200px !important;
}

favorites .active {
    background-color: gray;
}

.favorites .glyphicon {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*END Right side bar*/


/*START Login form */

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
#login-form {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
    margin-top: 100px;
}

#login-form .container {
    padding: 25px;
    position: fixed;
}

#login-form .form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

#login-form h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

#login-form .form-control {
    border-radius: 5px;
}

#login-form .wrapper {
    text-align: center;
}


/*END Login form*/