<li>
    <div class="navbar-content">
        <div class="row">
            <div class="col-md-5">
                <img src="http://placehold.it/120x120"
                    alt="Alternate Text" class="img-responsive" />
                <p class="text-center small">
                    <a href="#">Change Photo</a></p>
            </div>
            <div class="col-md-7">
                <span>{{displayName}}</span>
                <p class="text-muted small">
                    {{email}}</p>
                <div class="divider">
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-footer">
        <div class="navbar-footer-content">
            <div class="row">
                <div class="col-md-6">
                <a href="#!user" class="btn btn-primary btn-sm">Edit Profile</a>
                </div>
                <div class="col-md-6">
                    <a href="#!logout" class="btn btn-default btn-sm pull-right">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</li>