<div class="jumbotron text-center">
  <h1>Stock analysis</h1>
  <p>Team Feilong Single Page Application</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Visitors</h3>
      <p>Visitors and users can search and display stock indexes trends for a certain period of days or months.</p>
      
    </div>
    <div class="col-sm-4">
      <h3>Pages</h3>
      <p>Home , Chart , Table , Sidebar, User </li></p>
    </div>
    <div class="col-sm-4">
      <h3>Registered users</h3> 
      <p>Users can register and save favourite stocks in a list.</p>
      <p>The side bar also provides a top 10 and bottom 10 listing. </p> 
    </div>
  </div>
</div>