<div class="favorites">
    <div class="tab-title">
        <h2>Favorites</h2>
    </div>
    <form>
        {{#each this}} 
        <div class="radio">
            <label>
            <input type="radio" name="optradio">
                {{this.name}}
            </label>    
        </div>
            {{/each}}
    </form>
</div>


