<div class="favorites">
    <div class="tab-title">
        <h2>Favorites</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Price</th>
                <th>F Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.volume}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>