<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="favorites" class="active">
            <span class="glyphicon glyphicon-star"></span>
        </li>
        <li id="search">
            <span class="glyphicon glyphicon-search"></span>
        </li>
        <li id="top-ten">
            <span class="glyphicon glyphicon-menu-up"></span>
        </li>
        <li id="bottom-ten">
            <span class="glyphicon glyphicon-menu-down"></span>
        </li>
        <li id="news">
            <span class="glyphicon glyphicon-list-alt"></span>
        </li>
    </ul>
</div>