
        <h3>Hello username!</h3>

        <button id="get-favs">Get favorites</button>

        <div id="favs">Favs</div>

        <!-- Leave these buttons if we want to load companies to DB in bulk
        <button id="load-companies">Load companies</button>        
        <button id="load-symbols">Load symbols</button>
        -->

        <tbody class="favorites-list-table tickets-list-table" id="favTab">
            
        </tbody>