
        <h3>Hello username!</h3>

        <button id="get-favs">Get favorites</button>

        <div id="favs">Favs</div>


        <button id="load-companies">Load companies</button>
        
        <button id="load-symbols">Load symbols</button>
        