<div class="side-bar">
    <div class="side-bar-favorites">
        <p>Side bar favorites div</p>
    </div>
    <div class="side-bar-bottom">
        <div class="side-bar-content">
            <p>Side bar CONTENT div</p>
        </div>
        <div class="side-bar-menu">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#!/home/:topten"> Top ten</a></li>
                <li><a href="#!/home/:bottomten">Bottom ten</a></li>
                <li><a href="#!/home/:news">News feed</a></li>
                <li><a href="#!/home/:feed">Facegroup page feed</a></li>
            </ul>
        </div>
    </div>
</div>
    
